body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #1d1e26;
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 250px;
    max-width: 450px;
    margin: 0 auto;
    color: #BFD2FF;
}

.todoapp {
    margin: 0 1em;
}

.taskbar {
    margin-top: 32px;
    margin-bottom: 16px;
}

.webflow-style {
    position: relative;
    border-radius: 4px 4px 2px 2px;
    height: 3.375em;
    /* box-shadow: 0 8px 3px -6px rgba(0, 0, 0, 0.2); */
}

.webflow-style:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.bkg-highlight {
    background: rgba(57, 63, 84, 0.8);
}

.taskbar * {
    height: 100%;
    width: 100%;
}

.input {
    color: #BFD2FF;
    font-size: 1.25em;
    padding-left: 1em;
}

.task-list {}

.task:first-child {
    border-radius: 4px 4px 0px 0px;
}

.task {
    height: 2.5em;
    justify-items: center;
    margin-bottom: 1px;
}

.task h4 {
    float: left;
    font-weight: normal;
    /* font-style: italic; */
    line-height: 2.5em;
    color: #57E6E6;
}

.toggle {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: default;
    margin: 0;
    margin-left: 10px;
}

.destroy {
    /* display: inline-block; */
    /* background: rgba(0, 0, 0, 0.1); */
    /* padding: 0em 0.6em 0.3em 0.6em; */
    /* border-radius: 3px; */
    float: right;
    line-height: 1.25em;
    padding: 4px 16px 4px 4px;
    font-size: 1.25em;
    color: rgba(87, 230, 230, 0.5)
}

.destory:hover {
    color: #57E6E6;
}

.footer {
    background: rgba(57, 63, 84, 0.8);
    border-radius: 0 0 4px 4px;
    height: 30px;
    display: none;
}

.footer button {
    float: right;
    position: relative;
    display: none;
    top: 0.25em;
    right: 0.25em;
}

.filters {
    font-size: 0.65em;
    font-weight: 300;
    height: 30px;
    /* position: absolute;
    margin: 9px auto;
    min-width: 185px;
    left: 50%;
    transform: translateX(-50%) */
    text-align: center;
}

.filters li {
    display: inline;
    line-height: 2.75em;
}

.filters li>a {
    border: 1px solid rgba(87, 230, 230, 0.5);
    border-radius: 4px;
    margin: 0 10px;
    padding: 2px 6px;
}

.hidden {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 100% 0
    }
}